header{
    height: 70vh;
    padding-top: 7rem;
    overflow: hidden;
}
.header_container{
   
    text-align: center;
    height: 100%;
    position: relative;
}

.typewriter h1 {
    text-shadow:  1px 1px 5px var(--color-primary);
    color: #fff;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(246, 245, 243); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(234, 233, 236)
        
    }
  }
/*======= CTA =========*/

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*======= Social icons =========*/

.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    font-size: 2.5rem;
    left: 0;
    bottom: -1rem;
}
.header_socials a:hover{
    color:var(--color-light);
    font-size: 3rem;
   
   
}

/* .header_socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);

} */

/*======= Image =========*/

.me{
    
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 2rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    
}

/*-========== scroll down====*/
.scroll_down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1rem;

}

/* ================= MEDIA QUERY ===================*/

/*------Medium device----*/
@media screen and (max-width: 1024px){
   header{
      
       height: 50vh;
       
   }

   .header_socials,
   .scroll_down{
       display: none;
   }
   
   
}

/*------Small device----*/
@media screen and (max-width: 600px){
   header{
    
       height: 50vh;
       padding: 1rem;
       
   }
   .header_container{
   margin-top: 3rem;
}
   .typewriter h1 {
       
   font-size: 1.5rem;
  }
  
   .header_socials,
   .scroll_down{
       display: none;
   }
}